.favorite{
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

    svg {
        background-color: white;

        path {
            fill: #cccccc;
        }
    }

    &:hover{
        path {
            fill: #aaaaaa;
        }
    }

    &.active {
        svg {
            background-color: #ffd900;
    
            path {
                fill: white;
            }
        }
    }
}